.page-404{
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   vertical-align: middle;
}

.gif-404{
   width: 95%;
   margin-top: -50px;
   @media (max-width: 996px) { 
      padding-top: 30%;
   }
}

.text-404{
   font-weight: 500;
   font-size: 24px;
   text-align: center;
   margin-top: -100px;
   margin-bottom: 38px;

   @media (max-width: 768px) { 
      font-size: 18px;
      margin-top: -70px;
   }
}

.more-button{
   padding: 13px 38px;

   background: #29335C;
   border: 1px solid #29335C;

   box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
   border-radius: 3px;

   color: #fff;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;

   transition: all 0.2s;

   &:hover{
      background: transparent;
      color: #29335C;
   }

   @media screen and (max-width: 576px) {
      font-size: 14px;
      padding: 13px 24px;
   }
}