@font-face {
   font-family: "Gilroy";
   src: url("./fonts/Gilroy-Light.ttf");
   font-weight: 300;
 }
 @font-face {
   font-family: "Gilroy";
   src: url("./fonts/Gilroy-Regular.ttf");
   font-weight: 400;
 }
 @font-face {
   font-family: "Gilroy";
   src: url("./fonts/Gilroy-Medium.ttf");
   font-weight: 500;
 }
 @font-face {
   font-family: "Gilroy";
   src: url("./fonts/Gilroy-Semibold.ttf");
   font-weight: 600;
 }

body {
  margin: 0;
  background-color: #F8F9FF;
   font-family: Gilroy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
